@import "node_modules/react-select2-wrapper/css/select2";
@import "node_modules/ag-grid/dist/styles/ag-grid";
@import "node_modules/ag-grid/dist/styles/theme-fresh";


.normal_button {
  border-radius: 3px;
  border: none;
  font-size: 16px;
}

.button_margin{
  margin-left: 10px;
}

.center{
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.column_plain{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.popup{
  background: white;
  box-shadow: 0 0 4px #000000;
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
}

.close_popup{
  padding-top: 0px;
  text-align: right;
  font-size: 14px !important;
}

.popup_container{
  display: flex;
  width: 380px;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
}

.popup_opaque{
  position: absolute;
  background-color: #e6e6e6;
  opacity: 0.65;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup_full_opaque{
  position: absolute;
  background-color: #e6e6e6;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup_full_opaque_white{
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button_white{
  background: white;
  border: 1px solid black;
}

.button_green {
  background: #547554;
  color: white;
}

.button_red {
  background: #ffb3b3;
  color: black;
}

.normal_button:disabled{
  opacity: 0.3;
  filter: alpha(opacity=30);
  color: grey;
}